@model IEnumerable<Candidates>

@{
    ViewData["Title"] = "Candidates";
    Layout = null;
}
<style>

    #mySidenav a {
        position: absolute;
        right: -60px;
        transition: 0.3s;
        padding: 15px;
        width: 100px;
        text-decoration: none;
        font-size: 20px;
        color: #4682B4;
        border-radius: 0 5px 5px 0;
        border-color: gold;
    }

        #mySidenav a:hover {
            right: 0;
        }

    #login {
        top: 20px;
        border-color: #87CEEB;
        background-color: #F0F8FF;
    }

    #candidates {
        top: 80px;
        border-color: #87CEEB;
        background-color: #87CEEB;
    }

    #signout {
        top: 140px;
        border-color: #87CEEB;
        background-color: #87CEEB;
    }

    body {
        background-color: #ADD8E6;
    }

    .container {
        padding: 15px;
        background-color: #F0F8FF;
        border-radius: 15px;
        margin: auto;
        width: 80%;
    }

    .titleContainer {
        padding: 15px;
        background-color: #F0F8FF;
        border-radius: 15px;
        margin: auto;
        width: 80%;
    }



    .MapContainer {
        padding: 50px;
        background-color: #F0F8FF;
        border-radius: 15px;
        margin: auto;
        width: 80%;
        height: 600px;
        display: none;
        margin-left: auto;
        margin-right: auto;
    }


    .innerContainer {
        padding: 15px;
        background-color: #F0F8FF;
        margin: auto;
        width: 30%;
    }

    .iconImage {
        padding: 5px;
        background-color: #F0F8FF;
        margin: auto;
        width: 80%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .MapCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        height: 100%;
    }

    .insert {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    input[type=text] {
        border: 2px solid #4682B4;
        border-radius: 4px;
    }

    input[type=password] {
        border: 2px solid #4682B4;
        border-radius: 4px;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ADD8E6;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    .listPhrase {
        display: block;
    }

    .mapPhrase {
        display: none;
    }
</style>


<head>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&keyAIzaSyBDJVe2bBKUwt_oT8NBB8_Bgq0yVkA5tGIlanguage=en&region=US">
    </script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>

</head>


@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string loggedInUser = HttpContextAccessor.HttpContext.Session.GetString("_Username");
    string AdminUser = HttpContextAccessor.HttpContext.Session.GetString("_IsAdmin");
    string JWT = HttpContextAccessor.HttpContext.Session.GetString("_JWT");

    string EditImgPath = ("../../Files/edit.png");
    string DelImgPath = ("../../Files/delete.png");
    string AddImgPath = ("../../Files/add.png");


    if (AdminUser == "Yes")
    {
        <h1>Welcome, @loggedInUser - Administrator</h1>
    }

    if (loggedInUser != "" || loggedInUser != null)
    {
        if (AdminUser == "No")
        {
            <h1>Welcome, @loggedInUser </h1>
        }

    }

    if (loggedInUser == null)
    {
        Context.Response.Redirect("http://localhost:13418/Login/Login");
    }

}




<div id="TableOutline" class="container">
    <div class="innerContainer">
        <h1>All Users</h1>
    </div>
    <div class="container">

        

    </div>
    <table class="table">


        <thead>

            <tr>

                <!-- <th hidden>Username</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>

                 <th>Age</th>-->
                <!--<th hidden>About Me</th>
                <th hidden>Latitude</th>
                    <th hidden>Longitude</th>

                    <th>Profile Picture</th>-->
                <!--<th>@Html.ActionLink("Create Profile", "InsertCandidate", "Insert")</th>-->


                <th>Username</th>
                <th>Admin?</th>
                @{
                    if(AdminUser == "Yes")
                    {
                        <th><a href="@Url.Action("InsertUser", "Insert")">
                                                             <img src="@AddImgPath" style="vertical-align: right; width: 20px;">
                                                            </a></th>
                    }
                }
                

            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {

                if (@row.Password != null)
                {
                    

                    <tr>

                        

                        
                        

                        


                        @{
                            if (AdminUser == "Yes")
                            {
                                <td >@row.Username</td>
                                <td>@row.IsAdmin</td>


                                <td style="width:10%">
                               
                                    <a href="@Url.Action("EditUserView", "Users", new {  Username=row.Username, Password=@row.Password,  id=row.id, IsAdmin=@row.IsAdmin})">
                                <img src="@EditImgPath" style="vertical-align: right; width: 20px;">
                                </a></td>
                                <td><a href="@Url.Action("DeleteCandidate","Delete", new {  id=row.id})">
                                         <img src="@DelImgPath" style="vertical-align: right; width: 20px;">
                                        </a></td>
                                
                            }

                            if (row.Username == loggedInUser)
                            {
                                
                                if (AdminUser == "No")
                                {
                                    <td>@row.Username</td>
                                    <td>@row.IsAdmin</td>
                                                        <td style="width:10%"> <a href="@Url.Action("EditUserView", "Users", new {  Username=row.Username, Password=@row.Password,  id=row.id, IsAdmin=@row.IsAdmin})">
                                                    <img src="@EditImgPath" style="vertical-align: right; width: 20px;">
                                                    </a></td>
                                                    <td><a href="@Url.Action("DeleteCandidate","Delete", new {  id=row.id})">
                                                             <img src="@DelImgPath" style="vertical-align: right; width: 20px;">
                                                            </a></td>

                                }
                            }



                        }



                    </tr>
                }
            }
        </tbody>
    </table>

</div>
